@use '../base/functions' as *;

.base {
  position: relative;
  $this: &;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-font);
  font-weight: 300;
  line-height: 1.1;
  min-width: 10ch;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  -webkit-user-select: none;
  touch-action: manipulation;
  @include mobile {
    width: 100%;
  }
  button,
  .link {
    z-index: 2;
  }

  span {
    position: relative;
  }
  &#{$this}-disabled {
    color: grey;
    background-color: grey;
    border-color: grey;
    cursor: default;

    &:hover {
      color: grey;
      background-color: grey;
      border-color: grey;
    }
  }
}

.outline-secondary-variant {
  border: 1.5px solid var(--secondary-variant);
  color: var(--secondary-variant);

  .overlay {
    background-color: var(--secondary-variant);
  }
}

.outline-primary-variant {
  border: 1.5px solid var(--primary-variant);
  color: var(--primary-variant);

  .overlay {
    background-color: var(--primary-variant);
  }
}

.sm {
  min-height: mobile-vw(40px);
  font-size: mobile-vw(12px);
  padding: mobile-vw(8px) mobile-vw(24px);
  @include desktop {
    padding: desktop-vw(8px) desktop-vw(10px);
    font-size: desktop-vw(16px);
    min-height: desktop-vw(32px);
  }
}

.md {
  min-height: mobile-vw(48px);
  font-size: mobile-vw(15px);
  padding: mobile-vw(8px) mobile-vw(32px);
  @include desktop {
    padding: desktop-vw(8px) desktop-vw(12px);
    font-size: desktop-vw(16px);
    min-height: desktop-vw(40px);
  }
}

.lg {
  padding: mobile-vw(10px) mobile-vw(40px);
  font-size: mobile-vw(16px);
  min-height: mobile-vw(48px);
  @include desktop {
    padding: desktop-vw(12px) desktop-vw(48px);
    font-size: desktop-vw(19px);
    min-height: desktop-vw(48px);
  }
}

.btn-cont {
  overflow: hidden;
  position: relative;
}

.label {
  display: block;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--secondary-variant);
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}
