@use '../base/functions' as *;

.form-cont {
  // margin-inline: auto;
  // @include desktop {
  //   max-width: desktop-vw(1000px);
  // }

  .radio-title {
    font-size: mobile-vw(16px);
    font-family: var(--body-font);
    line-height: 1;
    @include desktop {
      font-size: desktop-vw(19px);
    }
  }

  .radio-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: mobile-vw(8px);
    @include desktop {
      width: desktop-vw(400px);
      gap: desktop-vw(8px);
    }
  }

  @include desktop {
    grid-column: 3/11;
    border-radius: 4vw;
    .title-cont {
      margin-inline: auto;
      max-width: desktop-vw(600px);
    }
  }
}
