@use '../base/functions' as *;

.footer {
  border-top: 2px solid var(--secondary-variant);
  a {
    text-transform: capitalize;
  }
  span {
    display: block;
    font-family: var(--body-font);
    font-size: mobile-vw(20px);
  }

  .link-cont,
  .visit-cont,
  .logo-cont {
    grid-column: 1/-1;
  }
  svg {
    fill: var(--primary-variant);
  }

  @include mobile {
    .logo-cont {
      order: 1;
      svg {
        width: mobile-vw(40px);
        height: mobile-vw(40px);
      }
    }
    .visit-cont {
      order: 3;
    }
    .link-cont {
      order: 2;
    }
  }
  @include desktop {
    span {
      font-family: var(--body-font);
      font-size: desktop-vw(25px);
    }
    .link-cont {
      grid-column: 1/2;

      li:nth-of-type(even) {
        margin: desktop-vw(16px) 0;
      }
    }
    .visit-cont {
      grid-column: 3/8;
      li:nth-of-type(even) {
        margin: desktop-vw(16px) 0;
      }
    }

    .logo-cont {
      grid-column: 9/-1;
      .logo-inner {
        width: fit-content;
        margin-left: auto;
        p {
          font-size: desktop-vw(20px);
          font-style: italic;
        }

        svg {
          width: desktop-vw(40px);
          height: desktop-vw(40px);
        }
      }
    }
  }
}

.bottom-cont {
  border-top: 2px solid;
  p {
    flex: 1;
    width: fit-content;
  }

  .social,
  .support,
  .rights {
    display: flex;
  }
  .support {
    grid-column: 1/-1;
    gap: mobile-vw(24px);
  }

  .rights {
    grid-column: 1/-1;
  }

  .social {
    grid-column: 1/-1;
    gap: mobile-vw(24px);
    svg {
      width: mobile-vw(24px);
      height: mobile-vw(24px);
    }
  }

  @include mobile {
    .rights {
      order: 1;
    }
  }

  @include desktop {
    .support {
      grid-column: 1/4;
      gap: desktop-vw(24px);
      align-items: center;
    }
    .social {
      width: 100%;
      grid-column: 10/-1;
      justify-content: flex-end;
      align-items: center;
      gap: desktop-vw(24px);
      svg {
        width: desktop-vw(24px);
        height: desktop-vw(24px);
      }
      svg:nth-of-type(2) {
        margin-inline: desktop-vw(24px);
      }
    }
    .rights {
      grid-column: 4/10;
      align-items: center;
      p {
        margin-inline: auto;
        text-align: center;
      }
    }
  }
}

.bottom-cont > * {
  align-self: center;
}
