@use '../base/functions' as *;

.navbar {
  width: 100%;
  height: var(--nav-height);
  position: fixed;
  z-index: 10;
}

.inner {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: mobile-vw(32px);
  height: mobile-vw(32px);
}

.btn {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: mobile-vw(8px);
  height: 40px;
  width: 50px;
  border-color: var(--secondary-variant);
  color: var(--black);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  padding-inline: 0.5rem;
}

.menu {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9;
  opacity: 0;
  ul {
    margin-top: mobile-vw(96px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: mobile-vw(24px);

    li {
      a {
        font-family: var(--heading-font);
        font-size: mobile-vw(45px);
        transition: all 0.3s ease-in-out;
        font-weight: 900;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        line-height: 86%;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: desktop-vw(12px);
  p {
    font-style: italic;
    font-weight: 300;
  }
  svg {
    fill: var(--secondary-variant);
  }
  .inner {
    aspect-ratio: 148.65/169.31;
    display: block;
    @include desktop {
      height: calc(var(--nav-height) - desktop-vw(15px));
      width: auto;
    }
  }
}
