@use '../base/functions' as *;

.scroll-down {
  display: inline-flex;
  justify-content: center;
  height: mobile-vw(60px);
  width: mobile-vw(30px);
  background-color: transparent;
  padding: mobile-vw(8px) 0;
  border: 2px solid var(--primary-variant);
  border-radius: 50vw;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: mobile-vw(7px);
    z-index: 3;
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: var(--primary-variant);
    animation: scroll 4s linear infinite alternate;
    @keyframes scroll {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(desktop-vw(30px));
      }
    }

    @include desktop {
      width: desktop-vw(7px);
    }
  }

  @include desktop {
    height: desktop-vw(60px);
    width: desktop-vw(35px);
    padding: desktop-vw(12px) 0;
  }
}
