@use '../base/functions' as *;

.card {
  display: inline-block;
  aspect-ratio: 4/3;
  height: auto;
  width: 100%;
  padding: mobile-vw(8px);

  @include desktop {
    aspect-ratio: 3/2;
    width: desktop-vw(450px);
    height: auto;
    font-size: desktop-vw(16px);
  }
}
.outer {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  padding: mobile-vw(16px);
  @include desktop {
    padding: desktop-vw(24px);
  }
}

.logo {
  width: mobile-vw(32px);
  @include desktop {
    width: desktop-vw(32px);
  }
}

.inner {
  white-space: normal;
  position: relative;
  height: 100%;
}

.content {
  font-size: mobile-vw(21px);
  @include desktop {
    font-size: desktop-vw(16px);
  }
}
