@use '../base/functions' as *;

.title-cont {
  grid-column: 1/-1;

  @include desktop {
    grid-column: 1/6;
  }
}
.desc {
  grid-column: 4/-1;

  p {
    text-indent: mobile-vw(150px);
  }

  @include desktop {
    p {
      text-indent: desktop-vw(200px);
    }
  }
}
.card-wrap {
  grid-column: 1/-1;

  &:nth-of-type(1) {
    @include desktop {
      grid-column: 1/4;
    }
  }
  &:nth-of-type(2) {
    @include desktop {
      grid-column: 4/7;
    }
  }
  &:nth-of-type(3) {
    @include desktop {
      grid-column: 7/10;
    }
  }
  &:nth-of-type(4) {
    @include desktop {
      grid-column: 10/-1;
    }
  }
}
