@use '../base/functions' as *;

.graphs {
  position: relative;

  svg {
    display: block;
    aspect-ratio: 1441.19/343.95;
    height: auto;
    width: 100%;
  }
  path {
    fill: url(#gradient-horizontal) #808080;
    /* But this will do nothing… */
    --color-stop-1: white;
    --color-stop-2: red;
    --color-stop-3: transparent;
  }

  path:nth-of-type(3) {
    margin-top: 10px;
    display: block;
  }
}

.graph {
}

.graph-after {
  width: 100%;
}
.graph-before {
  width: 100%;
}

.graph-after {
}

.flex-cat {
  position: absolute;
  height: desktop-vw(400px);
  display: flex;
  gap: desktop-vw(8px);
}

.line-cont {
  .line {
    width: 2px;

    background: var(--tertiary-variant);
    margin-inline: auto;
  }
  .circle {
    width: desktop-vw(15px);
    height: desktop-vw(15px);
    background: var(--tertiary-variant);
    border-radius: 50%;
    margin-inline: auto;
  }

  @include desktop {
    .line {
      margin-bottom: desktop-vw(2px);
    }
  }
}

.line-cont:nth-of-type(1) {
  @include desktop {
    .line {
      height: desktop-vw(250px);
    }
    margin-bottom: desktop-vw(10px);
    margin-left: desktop-vw(80px);
  }
}
.line-cont:nth-of-type(5) {
  background: #000;
  @include desktop {
    .line {
      height: desktop-vw(30px);
    }
    margin-bottom: desktop-vw(10px);
    margin-left: desktop-vw(600px);
  }
}
