@use '../base/functions' as *;

.title-cont {
  grid-column: 1/-1;
}
.desc {
  grid-column: 4/12;

  p {
    text-indent: mobile-vw(150px);
  }

  @include desktop {
    p {
      text-indent: desktop-vw(200px);
    }
  }
}

.marquee {
  position: relative;
  display: flex;
  align-items: center;
}

.loop-cont {
  @include desktop {
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    will-change: transform;
  }
}
