@use '../base/functions' as *;

.image {
  grid-column: 1/-1;
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  @include desktop {
    grid-column: 1/9;
    border-radius: 1vw;
    height: desktop-vw(450px);
  }
}
.title-cont {
  grid-column: 1/-1;
}
.desc {
  grid-column: 4/12;

  p {
    text-indent: mobile-vw(150px);
  }

  @include desktop {
    p {
      text-indent: desktop-vw(200px);
    }
  }
}

.slogan {
  grid-column: 1/-1;

  @include desktop {
  }
}
