@use '../base/functions' as *;
.title-cont {
  grid-column: 1/-1;
}
.desc {
  grid-column: 1/-1;

  p {
    text-indent: mobile-vw(150px);
  }
  @include desktop {
    grid-column: 4/12;
    p {
      text-indent: desktop-vw(200px);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: mobile-vw(48px) mobile-vw(24px);

  @include desktop {
    gap: desktop-vw(64px) desktop-vw(48px);
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

