$font-sizes: (
  '13': 109.21px,
  '12': 95.37px,
  '11': 76.29px,
  '10': 61.04px,
  '9': 48.83px,
  '8': 39.06px,
  '7': 31.25px,
  '6': 25px,
  '5': 20px,
  '4': 16px,
  '3': 12.8px,
  '2': 10.24px,
  '1': 8.19px,
);

h1,
h2 {
  font-family: var(--heading-font), sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.05em;
  line-height: 86%;
}

h3,
h4,
h5 {
  font-family: var(--heading-font), sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 86%;
}

p {
  font-family: var(--body-font), sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: calc(2px + 2ex + 2px);
}

.txt-lg {
  letter-spacing: -0.03em;
  font-size: mobile-vw(map-get($font-sizes, '4'));
  @include desktop {
    font-size: desktop-vw(map-get($font-sizes, '7'));
  }
}

.txt-md {
  font-weight: 300;
  font-size: mobile-vw(map-get($font-sizes, '4'));
  @include desktop {
    font-size: desktop-vw(map-get($font-sizes, '5'));
  }

  & .bold {
    font-weight: 700;
  }
}

.txt {
  font-weight: 300;
  font-size: 16px;

  @include desktop {
    font-size: 16px;
  }
}

.bold {
  font-weight: 400;
}

.txt-sm {
  font-weight: 600;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-size: mobile-vw(14px);

  @include desktop {
    font-size: desktop-vw(map-get($font-sizes, '4'));
    line-height: 114%;
  }
}

.split-child {
  display: inline-block;
  opacity: 1;
}

.title-lg {
  font-size: mobile-vw(41.25px);

  @include desktop {
    font-size: desktop-vw(76.37px);
    line-height: 0.8;
  }
}
.title-md {
  font-size: mobile-vw(41.25px);
  line-height: 1;
  color: var(--tertiary-variant);
  letter-spacing: 0.015em;
  @include desktop {
    font-size: desktop-vw(76.37px);
    line-height: 0.8;
  }
}

.title-sm {
  font-size: mobile-vw(31.25px);
  line-height: 1;
  @include desktop {
    font-size: desktop-vw(39.06px);
  }
}

.subheader {
  color: var(--tertiary-variant);
  font-weight: 400;
  grid-column: 1/ -1;

  @include desktop {
    margin-bottom: desktop-vw(-8px);
    margin-left: desktop-vw(8px);
  }
}

.tac {
  text-align: center;
}
